html, body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #bd2000; 
    color: #93329e;
    overflow:hidden;
}

.container h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #aa2b1d;
    margin: 80px;
}

.container form {
    margin: 40px;
}

.container input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 1px;
    padding: 2px;
}

.container button {
    width: 70px;
    height: 30px;
    background-color: steelblue;
}

.container p {
    margin: 10000px;
    color: steelblue; // 不知道咋回事儿
}
